@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&family=IBM+Plex+Serif:wght@300;400&display=swap');
body {
    background-color: #F4EFEB;
}

.wrapper {
    width: 100%;
    margin: auto;
}

header.group {
    border: 1px dashed #000;
    border-radius: 5px;
}

.group {
    display: flex;
    flex-flow: column;
}

.item {
    flex: 1;
}

h1, h2, h3 {
    font-family: 'IBM Plex Serif', sans-serif;
    font-size: 32;
    font-weight: 400;
}

a, p, li {
    font-family: 'IBM Plex Sans', serif;
    font-size: 16;
    font-weight: 300;
}

h1 {
    text-align: center;
}

/* nav > ul > li {
    text-align: center;
} */

ul > li {
    list-style-type: none;
}

.information-group {
    border: 1px dashed #000;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    margin: 10px 0 0 0;
    padding: 10px 10px 0 10px;
}

.information-item {
    border: 1px dashed #000;
    border-radius: 5px;
    flex: 1;
    margin-bottom: 10px;
    padding: 0 10px;
}

.utility-group {
    border: 1px dashed #000;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    margin: 10px 0 0 0;
    padding: 10px 10px 0 10px;
}

.utility-item {
    border: 1px dashed #000;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
    padding: 0 10px 20px 10px;
}

@media all and (min-width: 1000px) {
    .group {
        flex-flow: row;
    }

    h1 {
        text-align: left;
    }

    nav.group {
        align-self: center;
        flex: 1;
        justify-content: flex-end;
    }

    nav > ul > li {
        display: inline-block;
        margin-left: 15px;
    }

}


