@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&family=IBM+Plex+Serif:wght@300;400&display=swap');
body {
    background-color: #F4EFEB;
}

.wrapper {
    width: 80%;
    margin: auto;
}

.group {
    display: flex;
    flex-flow: column;
    /* border: 1px solid #000; */
}

.item {
    flex: 1;
    /* border: 1px solid #000; */
}

h1, h2 {
    font-family: 'IBM Plex Serif', sans-serif;
    font-size: 32;
    font-weight: 400;
    text-align: center;
}

label, input, button {
    font-family: 'IBM Plex Sans', serif;
    font-size: 16;
    font-weight: 300;
    text-align: left;
}

form {
    display: flex;
    flex-flow: column;
    padding: 15px;
}

label, input {
    width: 80%;
    margin: auto;
}

input {
    border-radius: 5px;
    line-height: 32px;
    margin-bottom: 25px;
}

button {
    align-self: center;
    border-radius: 5px;
    margin-bottom: 25px;
}

@media all and (min-width: 600px){

    form {
        padding: 30px;
    }

    label, input {
        width: 50%;
    }
    
}