@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&family=IBM+Plex+Serif:wght@300;400&display=swap');
body {
    background-color: #F4EFEB;
}

.wrapper {
    width: 80%;
    margin: auto;
}

h1, h2 {
    font-family: 'IBM Plex Serif', sans-serif;
    font-size: 32;
    font-weight: 400;
}

p, li, a {
    font-family: 'IBM Plex Sans', serif;
    font-size: 16;
    font-weight: 300;
}

img {
    width: 100%;
}

