@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&family=IBM+Plex+Serif:wght@300;400&display=swap');
body {
    background-color: #F4EFEB;
}

.wrapper {
    width: 80%;
    margin: auto;
}

h1, h2 {
    font-family: 'IBM Plex Serif', sans-serif;
    font-size: 32;
    font-weight: 400;
    text-align: center;
}

a, p, label, input, button {
    font-family: 'IBM Plex Sans', serif;
    font-size: 16;
    font-weight: 300;
    text-align: left;
}

form {
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    padding: 50px;
}

label, input {
    width: 50%;
    margin: auto;
}

input {
    margin-bottom: 10px;
}

button {
    align-self: center;
}

